<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %.-1level, [%d{yyyy-MM-dd'T'HH:mm:ss.SSSSSS}] %-5level -- : [%X{request_uuid}] %logger Line:%-3L Thread:%thread %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

</configuration>