#project
/src/main/resources/application.yml
!/src/main/resources/application.yml.example
/src/main/resources/env_*.properties
!/src/main/resources/env_alpha.properties

#Eclipse
.project
.classpath
.settings/
.externalToolBuilders

#IntelliJ
.idea/
*.iml

#Jrebel
rebel.xml

#Maven
/target/

#OSX
.DS_Store